[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyqt5 = "*"
pyglfw = "*"
pillow = "*"
pyopengl = "*"
glfw = "*"
requests = "*"
google-cloud-texttospeech = "*"
pygame = "*"

[dev-packages]

[requires]
python_version = "3.8"
